/* fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Caramel&family=Grey+Qo&family=Rubik+Beastly&display=swap');

body  {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background-color:#330000;
    font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.container{
	width:520px;
	height: auto;
        min-height:100px;
	margin: 100px auto;
	background-color: #d6d0d0;
	border-radius: 5px;
}


.base{
	width: 100%;
	 
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
}
 
.base h4{
	font-size: 35px;
	text-transform: capitalize;
	text-align: center;
	/* font-family: 'Bonheur Royale', cursive; */
	/* font-family: 'Caramel', cursive; */
	/* font-family: 'Grey Qo', cursive; */
	font-family: 'Rubik Beastly', cursive;	font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 2px #b18686;
    background: #927272;
	color: #bf0000;
}


/* primer formulario */
.block	{
	width: 135px;
	padding: 5px 20px;
	margin-left: 20px;
	display: inline-block;
	float: left;
}

.title{
	font-size: 20px;
	text-align: left;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 0.5;
	letter-spacing: 0.5px;
	word-spacing: 2.7px;
	color: #10d016;
}

input[type=text] {
	width: 140px;
	margin: auto;
	outline: none;
        min-height: 50px;
	border: 2px solid #1073d0;
	padding: 12px;
	background-color: #f7f7f7;
        border-radius: 2px;
        color: #000000;
        font-size: 17px;
}

input[type=text]:focus{
	background-color: #ffffff;
	border: 2px solid orange;
	outline: none;
}

/* boton de envio */
input[type=button]{
	width: 150px;
	margin-left: 35%;
    margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #f30f0f;
	color: #ffffff;
	padding: 14px 16px;
	text-align: center;
  
	font-size: 16px;
}
input[type=button]:hover{
	color: #ffff00;
	background-color: #9d0000;
}

/* ver la edad del usuario */
#age{
	display: block;
	margin: 10px;
        margin-top: 35px;
	padding: 10px;
        padding-bottom: 20px;
	overflow: hidden;
	font-family: verdana;
	font-size: 23px;
	font-weight: normal;
	line-height: 1.5;
	word-spacing: 2.7px;
	color: navy;
}